@font-face {
  font-family: akzidenz-grotesk-regular;
  src: url("assets/fonts/SFC-Clock-Regular.woff2");
}

* {
  margin: 0;
  padding: 0;
  font-family: akzidenz-grotesk-regular;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 130%;
}

body {
  /* background:rgb(240, 132, 55);*/
  background: white;
  color: #000;
  position: relative;
}

/* Getting rid of the space between two spans*/
.prevent-spaces {
  font-size: 0rem;
}

/*class added to force a line break on screens below 560 px*/
.mobile-line-break {
  display: none;
}

/*LINKS*/
a {
  color: #000000;
  text-decoration: none;
  text-decoration: underline;
}

a:hover {
  opacity: 100%;
}

/*MAIN*/




.nav-bar {
  /* width: 100%; */
  /* min-height: 50px; */
  margin: auto;
  text-align: left;
  padding-left: 1rem;
}

#toggle-link {
  border: 0;
  cursor: pointer;
  background: none;
  color: black;
  text-decoration: underline;
}

#toggle-link:hover {
  opacity: 60%;
}

#floating-div {
  position: absolute;
  z-index: 9999;
  pointer-events: none;
}


.img-link {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: auto;
}
.img-link :hover {
  opacity: 100%;
}

.text-container {
  align-items: left;
  max-width:100%;
  overflow: scroll;
}


.about-text {
  display: none;
  margin-top: 1rem;
  padding-right: 1rem;
}
.about-text p {
  margin-bottom: 25px;
}

li {
  list-style: none;
  line-height: 1.5rem;
}

sup {
  font-size: 0.65rem;
}

#timestamp {
  display: inline;
}

.time {
  font-variant-numeric: tabular-nums;
  /* stylistic set 01 to put the colon higher when displaying clock*/
  font-feature-settings: "ss01";
}

/* FOOTER */

#page-container {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: min(680px, 100%);
}

#content-container {
  /* padding-bottom: 2rem; */
  /* margin: auto; */
  background-color: white;
}


#header {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  background: white;

}
#header .nav-container, .text-container {
  width: 50%;
  padding-top: 1rem;
}

#poster-board-container {
  width: 100%;
  height: 100vh;
  display: flex;  
  justify-content: center;
  align-items: center;
}

#poster-board {
 margin: 0;
 position:fixed;
 display: flex;
 flex-wrap: wrap;
 width: 75vw; /*this has to be 5 times newcurrentposter width */
 
}

.new-current-poster {
width: 20%;
height: auto;
object-fit: cover;

}



/* MEDIA RESPONSIVE */
@media (max-width: 700px) {
  
  #header {
    flex-direction: column;
  }
  #header .nav-container {
   width: 100%;
  }

  #header .text-container {
    width: min(680px, 100%);
    height: auto!important; 
  }



  #poster-board {
    transform: rotate(90deg); 
    width: 80%; 
   }

  .text-container {
    height: fit-content;
  }

  .current-text, .about-text {
    padding-left: 1rem;
    padding-right: 1rem;
  }


}



@media (max-width: 331px) {
 
  .mobile-line-break {
    display: flex;
  }

  
}

/* "The classroom with all its limitations remains a location of possibility."
 ~bell hooks 
 
 
 img {
  max-width: 100%;
  padding: 0.5rem;
  margin-left: 10%;
  margin-right: 10%;
}

*/
